@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1,
h3,
h4 {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.blue {
    background-color: #1F2937;
}

.blue .header {
    padding: 24px;
    padding-bottom: 80px;
}

.hero {
    font-size: 48px;
    font-weight: 800;
}

.logo {
    font-size: 24px;
}

.herosec {
    font-size: 18px;
    color: #E5E7EB;
}

.hero,
.header,
.logo {
    color: #F9FAF8
}

.header {
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: white;
}

.links {
    display: flex;
    gap: 16px;
}

.left {
    display: flex;
    flex-direction: column;
    width: 500px;
    flex-wrap: wrap;
}

button {
    max-width: 23%;
    background-color: #3882F6;
    border-radius: 8px;
    border: 2px solid #3882F6;
    color: white;
    font-size: 20px;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.hero,
.topimage {
    margin-top: 100px;
}

.randominfo {
    text-align: center;
    margin-bottom: 100px;
}

.randominfoheader {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.illustrations {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.picbox {
    border: solid  #3992F6;
    border-radius: 16px;
}

.imgcontainer {
    max-width: 150px;
}

.gray {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
}

.quote {
    max-width: 790px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.quotecontainer {
    display: flex;
    flex-direction: column;
}

.author {
    align-self: flex-end;
    color: #1F2937;
    margin-right: 30px;
    font-weight: bold;
}

.box {
    background-color: #3882F6;
    margin: 100px 240px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 40px;
}

.boxtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box button {
    border-color: white;
    max-width: 12%;
    flex: 1;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
}